<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{layout/head :: head('ReviewsFormulario')}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class ="container flex-grow-1 my-4">

    <h1 class="mb-4">
        <i class="fa-solid fa-pen-to-square"></i>
        <span th:text="${review.id != null} ? 'Editar Reseña' : 'Nueva Reseña'">Reseña</span>
    </h1>
    <!-- Todo Formulario para crear o editar una Review -->
    <form th:action="@{/reviews}" method="post" th:object="${review}">
        <!-- Aparece id invisible  gracias al "hidden-->
        <input type="hidden" th:field="*{id}">

        <!-- Ponemos un campo que se tenga que escribir el titulo de una Review-->
        <div class="mb-3">
            <label  class="form-label" for="title">Titulo</label>
            <input type="text" class="form-control" id="title" th:field="*{title}"
                   placeholder="Escribe un Titulo de la Review" required>
        </div>

        <!-- Ponemos un campo que se tenga que escribir el Comentario de una Review-->
        <div class="mb-3">
            <label  class="form-label" for="comment">Comentario</label>
            <textarea type="text" class="form-control" id="comment" th:field="*{comment}" required>

            </textarea>
        </div>

        <!-- Ponemos las estrellas de una Review -->
        <div class="mb-3">
            <label class="form-label" for="rating">Puntuación (1 a 5 )</label>
            <input type="number" class="form-control" id="rating" th:field="*{rating}"
                   min="1" max="5" required>
        </div>

        <!-- Selector de Producto -->
        <div class="mb-3">
            <label for="products" class="form-label">Producto</label>
            <select  class="form-select" id="products" th:field="*{product}" required>
                <option value="">Selecciona un producto</option>
                <option th:each="producto : ${products}"
                        th:value="${producto.id}"
                        th:text="${producto.name}"></option>
            </select>

        </div>
        <!-- Ponemos un campo que se tenga que salga la fecha que se hizo una  Review-->

        <div class="mb-3">
            <label class="form-label" for="createdAt">Fecha de Opinión</label>
            <input type="hidden" class="form-control" id="createdAt" th:field="*{createdAt}" th:value="${#temporals.format(review.createdAt, 'yyyy-MM-dd''T''HH:mm')}" required readonly>

        </div>

        <!-- Ponemos 2 botones, 1 de guardar y otro de cancelar -->
        <button type="submit" class="btn btn-primary">Guardar Reseña</button>
        <a th:href="@{/reviews-productos}" class="btn btn-outline-danger">Cancelar</a>



    </form>
</main>
    <footer th:replace="~{layout/footer :: footer}"></footer>
    <script th:replace="~{layout/footer :: scripts}"></script>
</body>
</html>