<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Five Chill GYM')}"></head>
<body class="d-flex flex-column min-vh-100">
<link rel="stylesheet" th:href="@{/css/products.css}">
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Productos</h1>
                <p class="lead text-body-secondary">Aquí podrás ver nuestros mejores productos para musculación y equipamiento deportivo para todos los casos, Con las mejores ofertas y marcas variadas (nike®, addidas®, Under Armour®, Jordan®, etc)</p>
                <p> <a th:href="@{reviews-productos}" class="btn btn-primary my-2">Opiniones sobre nuestros productos</a>
                    <a href="#" class="btn btn-secondary my-2">Opiniones sobre nuestras tiendas</a>
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div id="sombra" th:each="product : ${products}" class="col">
                    <div>
                        <a th:href="@{/products/{id}(id=${product.id})}">
                        <img th:src="${product.image}" class="card-img-top" alt="..." role="img" width="100%">
                    </a>
                    <div class="card-body" >
                        <h5 class="card-title" th:text="${product.name}">Titulo</h5>
                        <p class="card-text" th:text="${product.shortDescription}">Descripcion</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button th:href="@{/products}" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            </div>
                            <small th:if="${product.stock != 0}" class="text-body-secondary">Disponibe</small>
                            <small th:unless="${product.stock != 0}" class="text-body-secondary">No Disponibe</small>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>