<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head('Carrito')}"></head>

<body>

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<div class="container mt-4">

    <h1>Carrito</h1>

    <table class="table">

        <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="line : ${purchaseLines}">

            <td th:text="${line.product.name}"></td>

            <td th:text="${line.product.price} + '€'"></td>

            <td th:text="${line.quantity}"></td>

            <td th:text="${line.product.price * line.quantity} + '€'"></td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>