<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Five Chill GYM')}"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0" >Categorías</h1>
    </div>
    <a th:href="@{/categories/new}" class="btn btn-sm btn-primary">
        Crear
    </a>

    <!-- TODO  poder filtrar categoría por nombre-->

    <!--5. hacerlo mas bonito-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col" th:each="category : ${categories}">
            <div class="card card-restaurant h-100 shadow-sm">
                <div class="card-body">
                    <img th:src="@{${category.image}}" class="card-img-top" alt="Category Image">
                    <h5 class="card-title">
                        <i></i>
                        <span th:text="${category.name}">Nombre</span>
                    </h5>
                    <p class="card-body">
                        <span th:text="${category.description}">Descripcion</span>
                    </p>
                    <!-- TODO enlace th:href que lleve a category detail -->
                    <a th:href="@{/categories/{id}(id=${category.id})}" class="btn btn-sm btn-primary">
                        Ver
                    </a>
                    <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-sm btn-success">
                        Editar
                    </a>
                    <a th:href="@{/categories/deactivate/{id}(id=${category.id})}" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-ban"></i>
                        Desactivar
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>