<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Five Chill GYM')}"></head>
<body class="d-flex flex-column min-vh-100">
<link rel="stylesheet" th:href="@{/css/products.css}">
<nav th:replace="~{layout/navbar :: navbar}"></nav>
<main class="container flex-grow-1">
    <form th:action="@{/purchase-lines/create}" method="post">

        <input type="hidden"
               name="productId"
               th:value="${product.id}">

        <button type="submit"
                class="btn btn-sm btn-outline-secondary">

            <i class="fa-solid fa-cart-shopping"></i>

        </button>

    </form>
</main>